*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ad5389, #3c1053); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ad5389, #3c1053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    height: 100vh;
}

.logo{
   display: flex;
   justify-content: center;
   margin-right: 2rem;
}

.logo img{
    width: 13rem;
}
.title2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    
}
.title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10rem;
}
.cont-perfil{
   height: 100vh;
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}

.perfil img{
    width: 200px;
}